.navbar-brand {
  color: yellow;
}

a {
  color: #aaa;
  font-weight: 200;
}

.text {
  font-size: 10px;
  color: yellow;
}

.title {
  font-family: 'Shadows Into Light', cursive;
}

.btn {
  background-color: yellow;
}

#navbar-color {
  background-color: black;
}

.login {
  color: white;
}

.forum {
  color: white;
}